<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Teaching Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylehome.css') }}">
</head>
<body>
    <div class="container">
        <h1>AI Teaching Assistant</h1>
        <form action="/handle" method="post">
            <input type="text" name="query" id="query" placeholder="Ask the topic you want to study" autocomplete="off">
            <button type="submit">Search</button>
        </form>
    </div>
</html>